@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.container {
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}
.header__container{
    display: flex;
    justify-content: space-around;
}

body {
    padding: 0;
    margin: 0;
    background: #020A18;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    background: #0A121F;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
}

.flex-1 {
    display: flex;
    margin-left: -250px;
}

.header__title {
    margin-top: 15px;
    color: #3A68B8;
    font-family: 'Inconsolata', monospace;
    font-size: 22.5455px;
    line-height: 31px;
    margin-left: 11px;
    cursor: pointer;
}

.header__logo {
    cursor: pointer;
}

.header__logo:hover {
    transform: rotateZ(360deg);
    transition: 1s ease all;
}

.header__title:hover {
    color: #FFFFFF;
    transition: 1s ease all;
}
.main__logo{
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 38px;
}

.header__item:last-child {
    margin-right: 0;
}

.flex-2 {
    margin-left: -444px;
    display: flex;
    margin-top: 20px;
}

.header__link {
    color: #FFFFFF;
    font-family: 'Ceviche One', cursive;
    font-size: 30px;
    line-height: 22px;
}

.header__link:hover {
    color: #2c69d3;
    transition: 1s ease all;
}

.flex-3 {
    margin-left: -300px;
    margin-top: 20px;
}

.header__btn {
    background: #3A68B8;
    border-radius: 5px;
    padding: 15px 30px;
    font-family: 'Ceviche One', cursive;
    font-size: 28px;
    line-height: 22px;
    color: #FFFFFF;
    border: 2px solid #3A68B8;
}

.header__btn:hover {
    background-color: transparent;
    color: #2c69d3;
    transition: 1s ease all;
}
.main__link{
    color: #3A68B8;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
    font-family: 'Inconsolata', monospace;
}
.main__link:hover{
    color: #fff;
    transition: 1s ease all;
}
.main__title{
    font-family: 'Ceviche One', cursive;
    font-style: normal;
    color: #FFFFFF;
    font-size: 65px;
    line-height: 130%;
}
.main__text{
    color: #FFFFFF;
    opacity: 0.7;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    line-height: 160%;
}
.main__btn2{
    padding: 15px 30px;
    background-color: #3A68B8;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Ceviche One', cursive;
    font-size: 28px;
    line-height: 27px;
    margin-top: 50px;
    position: absolute;
    border: 2px solid #3A68B8;
}
.main__btn2:hover{
    color: #3A68B8;
    transition: 1s ease all;
    background-color: transparent;
}
.main__btn{
    padding: 15px;
    padding-left: 55px;
    padding-right: 25px;
    background-color: #3A68B8;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Ceviche One', cursive;
    font-size: 28px;
    line-height: 27px;
    margin-top: 50px;
    position: absolute;
    border: 2px solid #3A68B8;
    margin-left: 200px;
}
.main__btn:hover{
    color: #3A68B8;
    transition: 1s ease all;
    background-color: transparent;
}
.main__icon{
    position: absolute;
    margin-left: -28px;
}
.main__container{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}
.wrapper__container{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    padding: 0;
    margin-top: 450px;
}
.main{
    width: 100%;
}
.main__flex-1{
    margin-left: 60px;
    margin-top: 50px;
}
.main__flex-2{
    margin-top: -20px;
    margin-left: 60px;
}
.main{
    padding-top: 50px;
    padding-bottom: 280px;
    background-color: #08101E;
}
.main__list{
    position: absolute;
    display: flex;
    margin-top: 700px;
    margin-left: 110px;
}
.main__item{
    margin-right: 60px;
}
.wrapper__div-div{
    background-color: #0F1724;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.wrapper__div-div:hover{
    background-color: #272f3d;
    transition: .8s ease all;
}
.wrapper__div-list{
    display: flex;
    margin-top: 50px;
    margin-left: 722px;
}
.wrapper__div-item{
    margin-right: 10px;
}
.wrapper__div-item:last-child{
    margin-right: 0;
}
.wrapper{
    position: absolute;
    width: 100%;
}
.wrapper__title{
    color: #FFFFFF;
    font-size: 66px;
    line-height: 130%;
    font-family: 'Ceviche One', cursive;
}
.wrapper__flex-2{
    margin-top: 220px;
    margin-left: 30px;
}
.wrapper__text{
    color: #FFFFFF;
    font-size: 20px;
    opacity: 0.7;
    font-family: 'Inconsolata', monospace;
}
.wrapper__link{
    background-color: #3A68B8;
    font-family: 'Ceviche One', cursive;
    font-size: 28px;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 50px;
    position: absolute;
    border: 2px solid #3A68B8;
}
.wrapper__link:hover{
    background-color: transparent;
    color: #3A68B8;
    transition: 1s ease all;
}
.dropped__item{
    background-color: #0F1624;
    width: 382px;
    height: 389px;
    border-radius: 10px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 33px;
}
.dropped__item:nth-child(1){
    padding-top: 38px;
    padding-bottom: 12px;
}
.dropped__title{
    color: #FFFFFF;
    margin-top: 47px;
    opacity: 0.7;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 125%;
    font-family: 'Ceviche One', cursive;
}
.dropped__text{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 160%;
    opacity: 0.7;
    font-family: 'Inconsolata', monospace;
}
.dropped__list{
    display: flex;
    margin-left: -300px;
}
.dropped__container{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    padding: 0;
    margin-top: 1050px;
}
.wrodded__title{
    color: #FFFFFF;
    font-size: 65px;
    line-height: 130%;
    font-family: 'Ceviche One', cursive;
}
.wrodded__text{
    color: #FFFFFF;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    line-height: 160%;
}
.wrodded__item{
    margin-top: 20px;
}
.wrodded__item:nth-child(1){
    margin-top: 40px;
}
.wrodded__mini-container{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    padding: 0;
    margin-top: 200px;
    padding-bottom: 100px;
}
.wrodded{
    width: 100%;
}
.wrodded__flex-1{
    margin-left: 80px;
}
.footer{
    background-color: #0A121F;
    width: 100%;
    height: 343px;
    padding-left: 80px;
    padding-right: 350px;
    padding-bottom: 129px;
}
.footer__mini-container{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    padding: 0;
    margin-top: 200px;
    padding-bottom: 100px;
    padding-top: 77px;
}
.footer__title{
    color: #3A68B8;
    font-family: 'Inconsolata', monospace;
    font-size: 22.5455px;
    line-height: 31px;
    margin-left: -2px;
}
.footer__span{
    cursor: pointer;
}
.footer__text{
    font-family: 'Inconsolata', monospace;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
    margin-top: 5px;
}
.footer__list{
    margin-top: 35px;
}
.footer__item{
    margin-bottom: 20px;
    cursor: pointer;
}
.footer__item:last-child{
    margin-bottom: 0;
}
.footer__link{
    position: absolute;
    margin-left: 6px;
    margin-top: .5px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
}
.footer__list2{
    margin-left: 50px;
    margin-top: 20px;
}
.footer__list3{
    margin-left: 80px;
    margin-top: 20px;
}
.footer__title2{
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Ceviche One', cursive;
    margin-bottom: 33px;
}
.footer__link2{
    color: #fff;
    opacity: 0.6;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Inconsolata', monospace;
}
.footer__link2:nth-child(1){
    margin-top: 30px;
}
.footer__flex-2{
    display: flex;
}
.footer__title3{
    font-size: 28px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Ceviche One', cursive;
    margin-left: 40px;
    margin-top: 20px;
}
.footer__text3{
    margin-top: 70px;
    margin-left: -185px;
    color: #FFFFFF;
    font-family: 'Inconsolata', monospace;
    opacity: 0.6;
    font-size: 14px;
}
.footer__link3{
    font-family: 'Ceviche One', cursive;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 130px;
    margin-left: 700px;
    position: absolute;
}
.footer__link-list{
    display: flex;
    margin-top: 160px;
    margin-left: -270px;
}
.footer__link-item{
    margin-right: 36px;
}
.footer__list-link{
    position: absolute;
}
.footer__list-link:hover{
    transform: scale(1.2);
    transition: 1s ease all;
}
.footer__select{
    display: inline-block;
    position: absolute;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-family: 'Inconsolata', monospace;
    font-size: 19px;
    text-align: center;
    margin-top: 265px;
    margin-left: 725px;
}
.footer__select:focus{
   outline: none;
}
.footer__option{
    background-color: #0A121F;
    border: none;
}
.footer__global{
    margin-top: 267px;
    margin-left: -175px;
}
.footer__logo:hover {
    transform: rotateZ(360deg);
    transition: 1s ease all;
}

